<a class="call-to-action" href="#">
  <div class="call-to-action__img">
    {{ content.field_background_image }}
  </div>
  <div class="call-to-action__text">
    {{ content.field_title }}
    {{ content.field_description }}
  </div>
</a>