<div class="hero__wrapper">
  <a href="{{ url }}">
    <img src="/themes/custom/twentyseventeen/images/logo-rev.svg" alt="Drupal GovCon 2017" class="hero__logo">
  </a>
  <h1 class="hero__title">{{ title }}</h1>
</div>
